name: initiating-gci
run-name: ${{ github.actor }} is initating project
on:
  push:
    branches:
      - main
jobs:
  running-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run initialization script
        run: |
          echo "Start initialization..."
