name: Initializing New GCI
run-name: Initiate from template
on:
  push:
    branches:
      - main
jobs:
  get-current-step:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get current step
        run: |
          echo "current-step=$(cat ./scripts/STEP)" >> $GITHUB_OUTPUT

  on_start:
    needs: get-current-step
    runs-on: ubuntu-latest
    steps:
      - name: Check current step
        runs: |
          if [ "$(cat ./scripts/STEP)" != 0 ]; then
            echo "Step is not at Initializing state"
            exit 0
          else
            echo "Free to go"
          fi

      - name: Make script executable
        run: chmod +x ./scripts/initiating.sh

      - name: Run script
        run: ./scripts/initiating.sh
