name: initiating-gci
run-name: Initiate from template
on:
  push:
    branches:
      - main
jobs:
  running-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run initialization script
        run: |
          echo "Start initialization..."

      - name: Make script executable
        run: chmod +x ./scripts/initiating.sh

      - name: Run script
        run: ./scripts/initiating.sh
